@font-face {
    font-family:'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(https://themes.googleusercontent.com/static/fonts/dosis/v1/xIAtSaglM8LZOYdGmG1JqQ.woff) format('woff');
}
body, div, h1, h2, h3, h4, h5, h6, 
p, ul, ol, li, dl, dt, dd, img, form, 
fieldset, input, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #ffffff;
}

/* completa tu codigo aqui */

.box{
	width: 100px;
	height: 100px;
    display: table-cell;
    text-transform: uppercase;
    text-decoration: none;
    font-family:'Dosis';
}

li{
    display: block;  
}

.celeste {
    background-color: #59adf7;
    color: #59adf7;
}
.verde {
    background-color: #2cff2c;
    color: #2cff2c;
}
.naranja {
    background-color: #f4a82f;
    color: #f4a82f; 
}
.rosado {
    background-color: #ed79f7;
    color: #ed79f7;
}

.caja{
    width: 100px;
    height: 100px;
    background-color: #000;
    margin-left: 100px;  
    display: none;
}
a:hover .caja{
    display: block;
}









